APP_NAME={{ name }}
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_HOST=0.0.0.0
APP_PORT=8000
APP_WORKERS=1
HTTP_MAX_BODY_BYTES=10485760

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite
# DB_HOST=127.0.0.1
# DB_PORT=5432
# DB_USERNAME=
# DB_PASSWORD=
# DB_POOL_MAX=5

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME=Example
